@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?6xg7k1');
    src:    url('fonts/icomoon.eot?6xg7k1#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?6xg7k1') format('truetype'),
        url('fonts/icomoon.woff?6xg7k1') format('woff'),
        url('fonts/icomoon.svg?6xg7k1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
    content: "\e909";
}
.icon-technology:before {
    content: "\e904";
}
.icon-business:before {
    content: "\e900";
}
.icon-entertainment:before {
    content: "\e901";
}
.icon-science:before {
    content: "\e902";
}
.icon-sports:before {
    content: "\e903";
}
.icon-tenreads .path1:before {
    content: "\e905";
    color: rgb(56, 173, 95);
}
.icon-tenreads .path2:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(134, 196, 141);
}
.icon-tenreads .path3:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(209, 205, 202);
}
.icon-tenreads .path4:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(55, 148, 83);
}
.icon-world:before {
    content: "\e802";
}
.icon-twitter:before {
    content: "\e81a";
}
.icon-facebook .path1:before {
    content: "\e81b";
    color: rgb(59, 89, 152);
}
.icon-facebook .path2:before {
    content: "\e81c";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

