@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?i7bmt5');
	src:url('fonts/icomoon.eot?i7bmt5#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?i7bmt5') format('truetype'),
		url('fonts/icomoon.woff?i7bmt5') format('woff'),
		url('fonts/icomoon.svg?i7bmt5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-android:before {
	content: "\e900";
}
.icon-ios:before {
	content: "\e901";
}
.icon-empty-feed:before {
	content: "\e81d";
}
.icon-heart:before {
	content: "\e800";
}
.icon-hearted:before {
	content: "\e803";
}
.icon-menu:before {
	content: "\e801";
}
.icon-flag:before {
	content: "\e81e";
}
.icon-global:before {
	content: "\e802";
}
.icon-share:before {
	content: "\e804";
}
.icon-add:before {
	content: "\e805";
}
.icon-check:before {
	content: "\e806";
}
.icon-email .path1:before {
	content: "\e807";
	color: rgb(149, 103, 89);
}
.icon-email .path2:before {
	content: "\e808";
	margin-left: -1em;
	color: rgb(231, 188, 149);
}
.icon-email .path3:before {
	content: "\e809";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-email .path4:before {
	content: "\e80a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-email .path5:before {
	content: "\e80b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-email .path6:before {
	content: "\e80c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-email .path7:before {
	content: "\e80d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-email .path8:before {
	content: "\e80e";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-email .path9:before {
	content: "\e80f";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-email .path10:before {
	content: "\e810";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-email .path11:before {
	content: "\e811";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-email .path12:before {
	content: "\e812";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-email .path13:before {
	content: "\e813";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-email .path14:before {
	content: "\e814";
	margin-left: -1em;
	color: rgba(60, 36, 21, 0.17);
}
.icon-email .path15:before {
	content: "\e815";
	margin-left: -1em;
	color: rgb(209, 152, 115);
}
.icon-email .path16:before {
	content: "\e816";
	margin-left: -1em;
	color: rgba(180, 126, 105, 0.2);
}
.icon-email .path17:before {
	content: "\e817";
	margin-left: -1em;
	color: rgb(209, 152, 115);
}
.icon-email .path18:before {
	content: "\e818";
	margin-left: -1em;
	color: rgb(180, 126, 105);
}
.icon-email .path19:before {
	content: "\e819";
	margin-left: -1em;
	color: rgba(149, 103, 89, 0.25);
}
.icon-twitter:before {
	content: "\e81a";
}
.icon-facebook .path1:before {
	content: "\e81b";
	color: rgb(59, 89, 152);
}
.icon-facebook .path2:before {
	content: "\e81c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}

